.calculator {
  position: relative;

  max-width: 1170px;
  padding: 0 45px;
  margin: 0 auto;
  margin-bottom: 88px;
  margin-top: 96px;

  font-family: $roboto;
  color: $dark;
}

.calculator__title {
  margin-bottom: 49px;
  font-size: 41px;
  line-height: 57px;
}

.calculator__p {
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
}

.calculator__form {
  width: 51%;
  min-height: 121px;

  form {
    width: 100%;
  }

  select {
    position: relative;

    width: 100%;
    padding: 19px;
    padding-left: 22px;

    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;

    border: 1px solid $dark;
    border-radius: 4px;
    appearance: none;

    background-image: url("../img/drop-down_list.svg");
    background-size: 16px 8px;
    background-repeat: no-repeat;
    background-position: top 26px right 24px;
  }

  option {
    padding: 19px;

    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }
}

.calculator__select {
  position: absolute;

  width: 47.5%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  border: 1px solid $dark;
  border-radius: 4px;

  z-index: 10;

  background-color: #ffffff;

  label {
    padding: 19px 22px;

    border-top: 1px solid #c1c2ca;

    transition-duration: 0.3s;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &::before {
    @include position-abs(25px, auto, auto, 22px);
    content: "";

    width: 16px;
    height: 10px;

    background-image: url("../img/drop-down_list.svg");
    background-size: cover;
  }

  input[type="radio"] + label {
    display: none;
    font-weight: normal;
  }

  input[type="radio"]:checked + label {
    display: block;
    font-weight: 700;
  }
}

.calculator__select--active {
  &::before {
    transform: rotate(180deg);
  }

  input[type="radio"] + label {
    display: block;
  }
}

.calculator__wrapper {
  width: 100%;
}

.calculator__item {
  display: none;
  width: 100%;
  margin-top: 115px;

  label {
    position: relative;

    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 0 50px;
    padding-top: 19px;
    padding-bottom: 15px;

    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;

    border: 1px solid $dark;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover,
    &:focus {
      border-color: $main-color;
      outline: none;
    }

    &:invalid {
      background-color: rgba($color: red, $alpha: 0.3);
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }

  input {
    -moz-appearance:textfield;
  }

  &--active {
    display: block;
  }
}

.calculator__button-count {
  @include position-abs(22px, auto, auto, 22px);
  @include button-reset;

  width: 16px;
  height: 16px;

  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $dark;
  }

  &::before {
    left: 50%;
    top: 0;

    width: 1px;
    height: 100%;

    transform: translateX(-50%);
  }

  &::after {
    left: 0;
    top: 50%;

    height: 1px;
    width: 100%;

    transform: translateY(-50%);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $main-color;
  }

  &--minus {
    right: auto;
    left: 22px;

    &::before {
      display: none;
    }
    z-index: 1;
  }
}

.calculator__container {
  margin-bottom: 24px;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}

.calculator__container--initial {
  margin-bottom: 52px;

  .calculator__range {
    margin-top: 21px;
  }
}

.calculator__container-cost{
  position: relative;
  margin-bottom: 5px;
}

.calculator__span {
  display: block;
  margin-bottom: 9px;

  font-size: 16px;
  line-height: 22px;
}

.calculator__hint {
  display: block;

  font-size: 14px;
  line-height: 20px;

  color: $gray--darken;
}

.calculator__range {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 6px;

  .calculator__hint {
    display: block;
  }
}

.calculator__container-range {
  display: flex;
  justify-content: space-between;

  .calculator__hint {
    margin-top: 9px;
    margin-left: -6px;
    padding-right: 5px;
  }
}

.calculator__hint--term-max {
  margin-right: -15px;
}

.calculator__element {
  &::before {
    @include position-abs(-1px, -24px);
    content: "";

    width: 16px;
    height: 16px;
    box-sizing: border-box;

    background-color: $main-color;
    border-radius: 2px;
    cursor: pointer;
  }
}

input[type="checkbox"]:checked + .calculator__element::before {
  background-image: url("../img/check_mark--white.svg");
  background-position: 50% 50%;
  background-size: 7px;
  background-repeat: no-repeat;
}

.calculator__checkbox {
  display: inline-block;
  margin-left: 24px;
  cursor: pointer;

  &--hidden {
    display: none;
  }
}

.calculator__offer {
  @include position-abs(113px, auto, auto, 45px);
}

@media (max-width: $tablet-width) {
  .calculator {
    margin-top: 69px;
    margin-bottom: 70px;
  }

  .calculator__select {
    width: 100%;
  }

  .calculator__container {
    margin-bottom: 22px;

    &--initial {
      margin-bottom: 48px;
    }
  }

  .calculator__title {
    margin-bottom: 28px;

    font-size: 32px;
    line-height: 45px;
  }

  .calculator__wrapper {
    flex-direction: column;
  }

  .calculator__p {
    margin-bottom: 19px;

    font-size: 18px;
    line-height: 25px;
  }

  .calculator__form {
    width: 100%;
    min-height: 102px;

    form {
      position: relative;
    }
  }

  .calculator__offer {
    position: static;
    max-width: 100%;
    margin-top: 35px;
  }

  .calculator__item {
    input {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media (max-width: $mobile-width) {
  .calculator {
    margin-top: 53px;
    margin-bottom: 46px;
    padding: 0 15px;
  }

  .calculator__container {
    margin-bottom: 18px;

    &--initial {
      margin-bottom: 45px;
    }

    &--term {
      margin-bottom: 11px;
    }
  }

  .calculator__hint--term-max {
    margin-right: 0;
  }

  .calculator__title {
    margin-bottom: 22px;

    font-size: 22px;
    line-height: 31px;
  }

  .calculator__p {
    margin-bottom: 14px;

    font-size: 16px;
    line-height: 22px;
  }

  .calculator__select {
    margin-bottom: 23px;

    label {
      padding: 18px 14px;
    }

    &::before {
      right: 16px;
    }
  }

  .calculator__item {
    margin-top: 100px;

    label {
      margin-bottom: 9px;
      width: auto;
    }

    input {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .calculator__button-count {
    right: 15px;
  }

  .calculator__checkbox {
    font-size: 14px;
    line-height: 20px;
  }

  .calculator__offer {
    margin-top: 18px;
  }

  .calculator__form {
    min-height: 96px;
  }
}
