.popup {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  box-sizing: border-box;

  font-family: $roboto;
  font-size: 16px;
  line-height: 22px;
  color: $dark;

  background-color: $gray--lighten;
  z-index: 10;

  &--active {
    display: block;
  }
}

.popup__background {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba($color: #000000, $alpha: 0.6);

  z-index: -1;
}

.popup--login {
  box-sizing: border-box;
  flex-direction: column;
  width: 544px;
  margin-left: -272px;
  margin-top: -247px;

  .popup__wraper {
    padding: 55px;

    z-index: 1;
    background-color: $gray--lighten;
    border: 4px solid $main-color;
  }

  .popup__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  .popup__logo {
    width: 150px;
    height: 27px;
  }
}

.popup__button-close {
  @include position-abs(53px, auto, auto, 9.8%);

  width: 24px;
  height: 24px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;

    top: 0;
    right: 10px;

    width: 2px;
    height: 100%;

    background-color: $dark;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.popup--offer {
  max-width: 40%;
}

.popup--form-request {
  position: static;
  width: 100%;

  background-color: transparent;
}

.popup--successfully {
  position: relative;
  top: auto;
  left: auto;

  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 29px;
  padding-bottom: 39px;

  text-align: center;


  button {
    top: 20px;
    right: 4.4%;
  }
}

.popup__successfully-p {
  text-align: center;
  margin-bottom: 10px;
}

.popup__successfully-text {
  margin-top: 0;
  padding: 0 19%;
}

@-webkit-keyframes shake {
	0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
	20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
	0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
	20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

.popup--form-error {
	-webkit-animation-name: shake;
	        animation-name: shake;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}

@media (max-width: $tablet-width) {
  .popup--login {
    width: 678px;
    margin-left: -339px;

    .popup__wraper {
      padding-left: 85px;
      padding-right: 85px;
    }

    .popup__button-close {
      right: 12.1%;
    }
  }
}

@media (max-width: $mobile-width) {
  .popup--login {
    width: 290px;
    margin-left: -145px;

    .popup__wraper {
      padding-top: 45px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 42px;
    }

    .popup__button-close {
      top: 43px;
      right: 4%;

      width: 18px;
      height: 18px;
    }

    .popup__container {
      margin-bottom: 29px;
    }
  }

  .popup__logo {
    margin-left: -7px;
  }

  .popup__form {
    label {
      margin-bottom: 20px;
    }

    input {
      padding-right: 50px;
    }
  }
}
