@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin button-reset {
  padding: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

@mixin position-abs ($top, $left, $bottom: auto, $right: auto) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin min-resolution ($url) {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url($url);
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  opacity: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
