// colors
$main-color: #2c36f2;
$dark: #1f1e25;

$gray--darken: #707c87;
$gray: #dde2ec;
$gray--light: #e6f1fe;
$gray--lighten: #f6f7ff;

//max-width
$mobile-width: 767px;
$tablet-width: 1023px;

//fonts
$roboto: "Roboto", "Arial", sans-serif;

//graphics
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
